.footer {
  padding: 10px 20px;
  min-width: 550px;
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
}

.github {
  background: url(../../assets/github.svg) no-repeat center center/cover;
  filter: invert(0.2);
}

.openWeather {
  background: url(../../assets/openweather.png) no-repeat center center/cover;
}

.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poweredBy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.poweredBy a {
  display: flex;
  align-items: center;
}
