@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rectangle {
  position: relative;
  margin: auto;
  width: 55vw;
  height: 30vw;
  max-width: 1100px;
  max-height: 700px;
  min-height: 550px;
  border-radius: 25px;
  padding: 20px 10px;
  background: var(--rectPri);
  color: #fff;
  box-shadow: 0 10px 20px #00000075;
}

.rectangle .date {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 1700px) {
  .rectangle {
    width: 60vw;
  }
}

@media only screen and (max-width: 1400px) {
  .rectangle {
    width: 70vw;
  }
}

@media only screen and (max-width: 1200px) {
  .rectangle {
    width: 80vw;
  }
}

@media only screen and (max-width: 900px) {
  .rectangle {
    min-width: 700px;
  }
}
